@model IEnumerable<Lost.Models.Zaginiony>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{var user = Context.User; }

<h2>Lista zaginionych</h2>

<p>
    <a asp-action="Create">Dodaj zaginionego</a>
</p>
<form action="/Lost/Index" method="get">
    <span>Płeć: </span>
    <select name="plec">
        <option value="">Wszyscy</option>
        <option value="K">Kobieta</option>
        <option value="M">Mężczyzna</option>
    </select>
    <input type="submit" value="Filtruj" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Imie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nazwisko)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plec)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Imie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nazwisko)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Plec)
                </td>
                <td>
                    @Html.ActionLink("Podgląd", "Details", new { id = item.Id })
                    @{
                        if (user.Claims.FirstOrDefault(x => x.Type == "Role")?.Value == RolaUzytkownika.Moderator.ToString())
                        {
                            @Html.ActionLink("Edytuj", "Edit", new { id = item.Id })
                            @Html.ActionLink("Usuń", "Delete", new { id = item.Id })
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
